<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.webtestingexplorer.gwttestapp.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/webtestingexplorergwttestapp/greet</url-pattern>
  </servlet-mapping>
  
  <!-- webtestingexplorer example state servlet -->
  <servlet>
 	<servlet-name>JSONSessionStateServlet</servlet-name>
 		<servlet-class>org.webtestingexplorer.server.servlets.JSONSessionStateServlet</servlet-class>
	</servlet>
  <servlet-mapping>
 	<servlet-name>JSONSessionStateServlet</servlet-name>
	<url-pattern>/sessionstate</url-pattern>
  </servlet-mapping>
  
  
  <!-- webtestingexplorer example log message collecting servlet -->
  <servlet>
 	<servlet-name>CollectingLoggingServlet</servlet-name>
 		<servlet-class>org.webtestingexplorer.server.servlets.CollectingLoggingServlet</servlet-class>
	</servlet>
  <servlet-mapping>
 	<servlet-name>CollectingLoggingServlet</servlet-name>
	<url-pattern>/logmessages</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GwtWebTestingExplorerSampleApp.html</welcome-file>
  </welcome-file-list>

</web-app>
